<div *ngIf="!(selectedDimension && table)">
  <mat-form-field>
    <mat-label>Select size</mat-label>
    <mat-select (select)="buildTable()" [(ngModel)]="selectedDimension">
      <mat-option *ngFor="let size of sizes" [value]="size.dimension">
        {{size.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button [disabled]="!selectedDimension" (click)="buildTable()">Select size</button>
</div>

<div *ngIf="selectedDimension && table">
  <app-board [table]="table"></app-board>
</div>
